In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Clyde River,CA,2021-07-17 14:48:12,70.4692,-68.5914,43.03,81,90,14.97
1,1,Esperance,AU,2021-07-17 14:48:12,-33.8667,121.9000,51.64,77,100,6.64
2,2,Upernavik,GL,2021-07-17 14:48:12,72.7868,-56.1549,40.24,81,100,12.53
3,3,Avarua,CK,2021-07-17 14:48:13,-21.2078,-159.7750,73.45,83,81,6.91
4,4,Lalibela,ET,2021-07-17 14:48:13,12.0333,39.0333,61.43,69,100,2.57

In [2]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 72

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Esperance,AU,2021-07-17 14:48:12,-33.8667,121.9000,51.64,77,100,6.64
4,4,Lalibela,ET,2021-07-17 14:48:13,12.0333,39.0333,61.43,69,100,2.57
7,7,Rikitea,PF,2021-07-17 14:48:14,-23.1203,-134.9692,71.98,80,26,13.91
10,10,Jamestown,US,2021-07-17 14:46:21,42.0970,-79.2353,71.29,97,90,7.00
13,13,Stykkisholmur,IS,2021-07-17 14:48:16,65.0757,-22.7297,54.91,79,46,5.93
15,15,Kruisfontein,ZA,2021-07-17 14:48:16,-34.0033,24.7314,62.89,57,0,8.61
19,19,Guerrero Negro,MX,2021-07-17 14:44:29,27.9769,-114.0611,70.09,77,97,10.80
21,21,Narsaq,GL,2021-07-17 14:48:18,60.9167,-46.0500,57.42,71,96,3.51
22,22,Casino,AU,2021-07-17 14:48:18,-28.8667,153.0500,57.56,44,21,8.05
27,27,Megion,RU,2021-07-17 14:48:20,61.0296,76.1136,59.02,81,96,4.25

In [11]:
preferred_cities_df.count()

City_ID       185
City          185
Country       183
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1        Esperance      AU     51.64 -33.8667  121.9000
4         Lalibela      ET     61.43  12.0333   39.0333
7          Rikitea      PF     71.98 -23.1203 -134.9692
10       Jamestown      US     71.29  42.0970  -79.2353
13   Stykkisholmur      IS     54.91  65.0757  -22.7297
15    Kruisfontein      ZA     62.89 -34.0033   24.7314
19  Guerrero Negro      MX     70.09  27.9769 -114.0611
21          Narsaq      GL     57.42  60.9167  -46.0500
22          Casino      AU     57.56 -28.8667  153.0500
27          Megion      RU     59.02  61.0296   76.1136

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Esperance,AU,51.64,-33.8667,121.9000,Hospitality Esperance
4,Lalibela,ET,61.43,12.0333,39.0333,Honey Land Hotel Lalibela
7,Rikitea,PF,71.98,-23.1203,-134.9692,People ThankYou
10,Jamestown,US,71.29,42.0970,-79.2353,Hampton Inn & Suites Jamestown
13,Stykkisholmur,IS,54.91,65.0757,-22.7297,Fosshótel Stykkishólmur
15,Kruisfontein,ZA,62.89,-34.0033,24.7314,Oyster Bay House Rental
19,Guerrero Negro,MX,70.09,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
21,Narsaq,GL,57.42,60.9167,-46.0500,Narsaq Kayak Hostel
22,Casino,AU,57.56,-28.8667,153.0500,Squatters Homestead Motel
27,Megion,RU,59.02,61.0296,76.1136,Komfort Hotel

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]